[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
jupyter = "*"
nltk = "*"
spacy = "*"
numpy = "*"
jupyterthemes = "*"
beautifulsoup4 = "*"
justext = "*"
gensim = "*"
unidecode = "*"
html2text = "*"

[requires]
python_version = "3"
